<h1>Создание нового экзамена</h1>
<hr>
<p><b>Экзамены, созданные ранее:</b> 
{% for exam in exist %}
   <br>{{ exam.1 }} - {{ exam.0 }} - {{ exam.2 }} класс
{% endfor %}
<hr>
<p><form action="{% url 'create' %}" method="post">
{% csrf_token %}
<p>Класс: <input type="text" name="grade" id="grade">
<p>Предмет: <select name="subject" id="subject">
  <option disabled>Выберите...</option>
  {% for subject in subjects %}<option value="{{subject.id}}">{{subject.title}}</option>{% endfor %} 
</select>
<p>Раунд: <select name="round" id="round">
  <option disabled>Выберите...</option>
  {% for round in rounds %}<option value="{{round.id}}">{{round.title}}</option>{% endfor %}
</select>
<p>Названия задач (например, 1 2 3а 3б 3в 4*):
<p><nobr>{% for i in range50 %}
<input type="text" size="3" name="taskname[]">
{% endfor %}</nobr>
<p>Список экзаменаторов:
{% for i in range50 %}
<p>Фамилия, имя, отчество <input type="text" id=fio[] name=fio[]>&nbsp;&nbsp;&nbsp;
E-mail <input type="text" id=email[] name=email[]>
{% endfor %}
<p><input type="submit" value="Создать" />
</form>
