<font color="red">{{ error_message }}</font>
{{ code }}
<form action="{% url 'rate' %}" method="POST">
    {% csrf_token %}
    <p>Код работы: <input type="text" name="code" id="code" value="{{ code }}">
    <p><table border=1><tr><td>Задача</td><td>Оценка</td></tr>
        {% for line in data %}
          <tr><td>{{ line.0 }}</td>
              <td><input type="text" name="marks[]" value="{{ line.1 }}">
                                                                   </td></tr>
        {% endfor %}
    </table>
    <p><input type="submit" name="submit" value="Сохранить и перейти к следующей работе">
</form>
